<<<<<<< HEAD
body{
	padding-top: 70px;
	padding-bottom: 70px;
}

.sw-link a:hover{
	text-decoration: none;
	color: red;
=======
body{
	padding-top: 70px;
	padding-bottom: 70px;
}

.sw-link a:hover{
	text-decoration: none;
	color: red;
>>>>>>> 03dec4003b8f522f149ef4e102b0e9c32ff085e8
}