<<<<<<< HEAD
body{
	padding-top: 70px
	padding-bottom: 70px;
	background-color: #333;
	color: white;
=======
body{
	padding-top: 70px
	padding-bottom: 70px;
	background-color: #333;
	color: white;
>>>>>>> 03dec4003b8f522f149ef4e102b0e9c32ff085e8
}